.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: blue;
}

.navbar-menu {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
